:root {
  --BGcolor: pink;
}

.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Tagesschrift", sans-serif;
  font-size: 1.35em;
  background-color: var(--BGcolor);
}

main {
  text-align: center;
}

button,
input {
  margin: 1em 0 1em 0;
  font-family: "Tagesschrift", sans-serif;
  font-size: 1.15em;
}

#mirror-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mirror-container {
  font-size: 85%;
  margin: 6em 0 6em 0;
  position: relative;
  background-color: transparent;
  height: 20vh !important;
  width: 60vw !important;
}

#mirror-container:after {
  height: 20vh !important;
  width: 60vw !important;
  border: solid black 0.25em;
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  top: -2rem;
  right: 0;
  bottom: -2rem;
  left: 0;
  background-image: linear-gradient(
    rgb(65, 65, 209),
    rgb(169, 169, 238),
    rgb(170, 212, 212)
  );
  animation: rotate-gradient alternate-reverse 4s;
}

@keyframes rotate-gradient {
  to {
    transform: rotate(90deg);
  }
}
